---
# https://osc.github.io/ood-documentation/latest/reference/files/ondemand-d-ymls.html#configuration-properties-with-profile-support
#brand_bg_color: "#ed483a"
#brand_link_active_bg_color: "#dc2f02"
custom_css_files: ["/custom.css"]
#dashboard_header_img_logo: "/public/logo.png"
dashboard_logo: "/public/logo.png"
dashboard_logo_height: "200px"
dashboard_title: "{{ ood_dashboard_title }}"
disable_dashboard_logo: false
motd_render_html: true
replace_header_img_logo: "/public/logo.png"
