footer, .d-flex {
        display: none !important;
}

a, table.dataTable a, #favorites a, .list-group-item.header {
        color: #ed483a;
}

.navbar-dark {
        background-color: #ed483a;
}

.btn, .card-header, .list-group-item.active{
        color: white;
        background-color: #ed483a;
        border-color: #dc2f02;
}

.btn:hover {
        color: white;
        background-color: #dc2f02;
        border-color: #dc2f02;
}

.nav-link, .nav-link:hover, .nav-item:hover {
        color: white;
}

.nav-link:hover, li.nav-item > a.dropdown-toggle.show {
        border-radius: 4px;
        background-color: #dc2f02 !important;
}

table.dataTable th:hover {
        color: white;
        background-color: #ed483a;
}

table.dataTable.table-striped > tbody > tr.odd.selected > * , table.dataTable > tbody > tr.selected > * {
        color: black;
        box-shadow: inset 0 0 0  9999px #ed483a50;
}

#directory-contents .selected a.name{
        color: black;
}

.card {
        border: var(--bs-card-border-width) solid #dc2f02;
}
