#!/bin/bash
set -e

while [[ $# -gt 0 ]]; do
  case "$1" in
    --user)
      USERNAME="$2"
      shift 2
      ;;
    *)
      shift
      ;;
  esac
done

if [ -n "$USERNAME" ]; then
  /usr/sbin/mkhomedir_helper "$USERNAME"
fi
