.ood-nav {
  background-color: #ed483a;
}

.ood-nav-logo {
  height: auto;
  max-width: 10em;
}

.ood-logo-container, .ood-logo-container > img {
  max-width: 10em;
  height: auto !important;
}

.card {
  min-width: 20em;
}
