---
batch_connect:
  template: "basic"

script:
  native:
    - "-N"
    - "<%= bc_num_slots.blank? ? 1 : bc_num_slots.to_i %>"
    - "-c"
    - "<%= num_cores.blank? ? 1 : num_cores.to_i %>"
    <% if !num_memory.blank? && num_memory.to_i > 0 %>
    - "--mem"
    - "<%= num_memory.to_i %>G"
    <% end %>
    - "-J"
    - "Rstudio <%= rstudio_version %> - R <%= r_version %> "
    <% if !user_email.blank? %>
    - "--mail-type"
    - "BEGIN,END,FAIL,TIME_LIMIT"
    - "--mail-user"
    - "<%= user_email %>"
    <% end %>
