---
name: JupyterLab
category: Interactive Apps
subcategory: Servers
role: batch_connect
description: |
  Launch an interactive JupyterLab session on a compute node. The session provides a web-based IDE with access a specific Python or R kernel.
