[Unit]
Description=NFS remote quota server
Requires=rpcbind.service
After=rpcbind.service

[Service]
Type=forking
ExecStart=/usr/sbin/rpc.rquotad
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
