---
title: "Desktop"
cluster: "{{ slurm_cluster_name }}"
submit: "submit/submit.yml.erb"
attributes:
  desktop: "xfce"
  bc_num_hours:
    min: 1
    max: 8
    step: 1
  bc_num_slots:
    max: 2
  num_cores:
    widget: number_field
    label: Number of cores
    value: 1
    min: 1
    max: 8
  bc_queue: null
form:
  - desktop
  - bc_num_hours
  - bc_num_slots
  - num_cores
  - bc_account
  - bc_queue
  - bc_email_on_started
